---
layout: default
carouselId: mainCarousel
---
<header id="home" class="main-header">
  <div class="logo-container">
  <img src="{{site.white_logo}}">
  </div>
  <div class="carousel slide" data-ride="carousel" data-pause="false" data-interval="15000">
    <div class="carousel-filter"></div>
    <div class="carousel-inner" role="listbox">
    {% for carousel in site.data.carousels %}
      {% if carousel.id == page.carouselId %}
        {% for image in carousel.images %}
          <div class="item{% if forloop.first %} active{% endif %}" style="background-image: url('{{carousel.imagefolder}}/{{image.name}}')">
            
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>

  </div>
  <div class="sub-header">
    
  </div>
</header>

<section id="about" class="about">
  <div class="container">
    <h2>Hi! I'm Nayeli</h2>
    <div class="row vertically-centered">
      <div class="col-sm-12 col-md-4 col-lg-3 text-center">
        <img src="{{site.profile_pic}}" class="img-responsive img-circle">
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9 text-justify">
        <p>
          I'm a photographer in the Salt Lake City valley, but I'm originally from Monterrey, Mexico! I have always believed that the best photos are taken in the most natural of moments and in the moments that you want to remember forever. I love capturing life's most special moments and hope to be able to help you remember that special moment forever.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="slc">
  <div class="container">
    <h2>Salt Lake City, UT</h2>
    <p>I am currently living in the Salt Lake City area and love all of the beautiful places we have to take pictures around the valley. I am available to take pictures all accross the Salt Lake valley, but am willing to travel as well!</p>
  </div>
  <img class="skyline" src="/img/slc-skyline-black.svg">
</section>


<section class="portfolio" id="portfolio">
  <div class="container">
    <h2>Portfolio</h2>
  </div>
  <div class="gallery large">
    {% for post in site.posts reversed %}
      {% for gallery in site.data.galleries %}
        {% if gallery.id == post.galleryid %}
          
            {% if gallery.images.first.thumbnail %}
            <a class="gallery__image" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url('{{gallery.imagefolder}}/{{gallery.images.first.thumbnail}}')">
                <span>{{gallery.category}}</span>
            </a>
  
            {% else %}
              <a class="gallery__image" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url('{{gallery.imagefolder}}/{{gallery.images.first.name}}')">
                  <span>{{gallery.category}}</span>
            </a>
            {% endif %}

        {% endif %}
      {% endfor %}
    {% endfor %}  

  </div>
</section>

<section class="pricing" id="pricing">
  <div class="container">
    <h2>Price List</h2>

    <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#general-prices" aria-controls="general-prices" role="tab" data-toggle="tab">General Prices</a></li>
    <li role="presentation"><a href="#wedding-prices" aria-controls="wedding-prices" role="tab" data-toggle="tab">Wedding Prices</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="general-prices">
      
      <p>
        I love taking pictures of couples, families, infants, and covering events. No matter what your needs, we can find a package that will best fit you. Fill free to contact me for specific pricing and package details.
      </p>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="pricelist">
            <div class="pricelist__title">Regular</div>
            <div class="pricelist__price">$200</div>
            <ul class="pricelist__list">
              <li>1 Location</li>
              <li>1 Outfit</li>
              <li>1 Hour Session</li>
              <li>75 Edited Photos</li>
              <li>Images available online and in USB</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricelist">
            <div class="pricelist__title">Premium</div>
            <div class="pricelist__price">$350</div>
            <ul class="pricelist__list">
              <li>1 Location</li>
              <li>2 Outfits</li>
              <li>2 Hour Session</li>
              <li>100 Edited Photos</li>
              <li>Images available online and in USB</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricelist">
            <div class="pricelist__title">Platinum</div>
            <div class="pricelist__price">$500</div>
            <ul class="pricelist__list">
                <li>2 Locations</li>
                <li>3 Outfits</li>
                <li>2 Hour Session</li>
                <li>150 Edited Photos</li>
                <li>Images available online and in USB</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

    <div role="tabpanel" class="tab-pane fade" id="wedding-prices">
      <p>
        Weddings and engagement pictures are my favorite! I love working with couples to capture that special moment. From announcement pictures to the big day and even to trash the dress, I will work with you to make sure your wedding is unforgettable and make sure you will be able to remember that big day for the rest of your life.
      </p>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="pricelist wedding">
            <div class="pricelist__title">Regular</div>
            <div class="pricelist__price">$600</div>
            <ul class="pricelist__list">
                <li>
                    Engagement Session
                    <ul>
                        <li>1 Location</li>
                        <li>2 outfits</li>
                        <li>1 Hour Session</li>
                        <li>75 Edited Photos</li>
                    </ul>
                </li>
                <li>
                    Formal Session
                    <ul>
                        <li>1 Location</li>
                        <li>1 Hour Session</li>
                        <li>75 Edited Photos</li>
                    </ul>
                </li>
                <li>Images available online and in USB</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricelist wedding">
            <div class="pricelist__title">Premium</div>
            <div class="pricelist__price">$750</div>
            <ul class="pricelist__list">
                <li>
                    Engagement Session
                    <ul>
                        <li>1 Location</li>
                        <li>2 outfits</li>
                        <li>1 Hour Session</li>
                        <li>75 Edited Photos</li>
                    </ul>
                </li>
                <li>
                    Formal Session
                    <ul>
                        <li>1 Location</li>
                        <li>1 Hour Session</li>
                        <li>75 Edited Photos</li>
                    </ul>
                </li>
                <li>
                    Event Coverage
                    <ul>
                        <li>1 Location</li>
                        <li>2 Hours Event Coverage</li>
                        <li>Unlimited Photos</li>
                    </ul>
                </li>
                <li>Images available online and in USB</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricelist wedding">
            <div class="pricelist__title">Platinum</div>
            <div class="pricelist__price">$1,000</div>
            <ul class="pricelist__list">
                <li>
                    Engagement Session
                    <ul>
                        <li>1 Location</li>
                        <li>2 outfits</li>
                        <li>2 Hour Session</li>
                        <li>100 Edited Photos</li>
                    </ul>
                </li>
                <li>
                    Formal Session
                    <ul>
                        <li>1 Location</li>
                        <li>2 Hour Session</li>
                        <li>100 Edited Photos</li>
                    </ul>
                </li>
                <li>
                    Event Coverage
                    <ul>
                        <li>1 Location</li>
                        <li>3 Hours Event Coverage</li>
                        <li>Unlimited Photos</li>
                    </ul>
                </li>
                <li>
                    Memory Book
                    <ul>
                        <li>12"x12" customized hhoto album </li>
                    </ul>
                </li>
                <li>Images available online and in USB</li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>

    
  </div>

</section>

<section class="contact" id="contact">
  <div class="container">
    <h2>Get In Touch</h2>
      <p>
        Send me an email so we can discuss your photography needs, I would love to work with you to help you capture that special moment and make memories that will last forever.
      </p>
      <div class="text-center">
        <a href="mailto:{{site.email}}" class="btn btn-primary action-btn"><i class="fa fa-envelope-o"></i> Contact Me</a>
      </div>
  </div>
</section>