<div class="divider"></div>
<footer>
  
  <div class="container">
    <div class="row vertically-centered">
      <div class="col-md-4 col-sm-4">
        <a href="/"><img src="{{ site.white_logo }}" class="logo"  alt="Nayeli Saupe Photography"></a>
      </div>
      <div class="col-md-6 col-sm-8">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o"></i></a></li>
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="copyright">© Copyright Nayeli Saupe</div>
  </div>

</footer>

<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap/carousel.js"></script>
<script src="/js/bootstrap/scrollspy.js"></script>
