
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/"><img src="{{ site.black_logo }}" alt="Nayeli Saupe Photography" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="navbar">
          {% if page.url == "/index.html" %}
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contact">Contact</a></li>
          {% else %}
            <li><a href="/#about">About</a></li>
            <li><a href="/#portfolio">Portfolio</a></li>
            <li><a href="/#pricing">Pricing</a></li>
            <li><a href="/#contact">Contact</a></li>
          {% endif %}
            <!-- {% for category in site.pages %}
              {% if category.title %}
                <li {% if page.url == category.url %}class="active"{% endif %}><a class="page-link" href="{{ category.url | prepend: site.baseurl }}">{{ category.title }}</a></li>
              {% endif %}
            {% endfor %} -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o"></i></a></li>
            {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            {% endif %}
            {% if site.instagram_username %}
            <li>
              <a href="https://instagram.com/{{ site.instagram_username }}">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            {% endif %}
            {% if site.facebook_username %}
            <li>
              <a href="https://facebook.com/{{ site.facebook_username }}">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>