@import "bourbon/bourbon";
@import "bootstrap/variables";

footer {
	padding: 3em 2em 1em 2em;
	background-color: $gray;
	color: $black;

	h1, h2, h3, h4 {
		color: $white;
	}
	h2 {
		font-size: 3em;
	}

	.contact-list {
		@include display('flex');
		width: 100%;
		padding: 0px;
		
		list-style: none;

		li {
			@include flex(1);
		}
		i {
			display: block;
			font-size: 4em;
			text-align: center;
			width: 100%;
		}
		a {
			text-decoration: none;
			color: $white;
			&:hover {
				cursor: pointer;
				color: $primary;
			}
		}
	}

	.logo {
		width: 100%;
		max-width: 80vw;
	}

	.copyright {
		padding-top: 4em;
		font-size: 0.8em;
		text-align: center;
		color: $offWhite;
	}


}
.divider {
	width: 100%;
	height: 7vh;
	background-color: $primary;
}


@include media-query($screen-md-min) {
	.contact-list {
		width: 100%;
		i {
			font-size: 4em;
		}
	}
}

@include media-query($screen-sm-min) {
	.contact-list {
		padding-top: 2em !important;
		width: 100vw !important;
		i {
			font-size: 3em !important;
		}
	}
}

@include media-query($screen-xs-min) {
	.contact-list {
		padding-top: 2em !important;
		width: 100vw !important;
		i {
			font-size: 3em !important;
		}
	}
}

