@import "bourbon/bourbon";

main {
    margin-top: 50px;
    min-height: 80vh;
    padding: 0px !important;
}

.slc {
	background-color: $gray;
	color: $white;
	position: relative;
	border-bottom: 3vh solid $primary;
	.skyline {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
	}
	.container {
		position: relative;
		z-index: 10;
		margin-bottom: 20vh;
	}
}


section {
	padding: 4em 0em;
	
}
